/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

* {
	max-width: 100%;
}

p {
	font-size: 20px;
}

h2 {
	font-size: 20px;
}

.navbar {
	display: flex;
	width: 100%;
	background-color: lightskyblue;
	position: fixed;
}

header nav a {
	display: flex;
	width: 85%;
	margin: auto;
    justify-content: space-evenly;
	text-decoration: none;
	color: lightslategray;
	
}

.logo {
	display: flex;
	width: 75%;
	
}

#top .container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;	
	padding-top: 4%;
	}

#top .get-started-btn {
	margin: 0 0 2% 24%;
	height: 35px;
	width: 150px;
    background-color: white;
	border: 1px solid black;
}

#top h1 {
	font-size: 150px;
	text-align: center;
	
}

#top img {
	display: flex;

	height: 500px;
	width: 500px;
	
}

#middle .container {
	display: flex;
	justify-content: flex-start;
	padding: 2%;
	border-top: 1px solid;
}

.features {
	margin-left: 9%;
	width: 35%;
	line-height: 1.2;
	text-align: left;
}

.about {
	margin-left: 2%;
	width: 35%;
	line-height: 1.2;
	text-align: left;
}

.middle-img {
	margin: 0 10%;
	width: 75%;
	height: 300px;
}

#bottom .container-two {
	display: flex;
	padding: 2%;
	margin: 2%;
}

.services {
	width: 24%;
	margin-left: 8%;
	line-height: 1.2;
	text-align: left;
}

.products {
	width: 24%;
	margin-left: 2%;
	line-height: 1.2;
	text-align: left;
}

.vision {
	width: 24%;
	margin-left: 2%;
	line-height: 1.2;
	text-align: left;
}

address {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 5%;
	border-top: 1px solid;
	margin-left: 11%;
}

address .contact {
	line-height: 1.7;
	margin-top: 1%;
}

footer {
	text-align: center;
	margin-bottom: 5%;
}

@media (max-width: 800px) {

}

@media (max-width: 500px) {
    
}


